<div class="container" id="home-container">
  <div class="jumbotron text-center ">
    <h1>About the Blog</h1>
    <div class="text-left mt-4">
      This is a <a href="https://rubyonrails.org/">Ruby on Rails </a> project for a Blog.<br>
        <br>
        The source code is available at <a href=https://github.com/Bruck1701/dev-blog> https://github.com/Bruck1701/dev-blog </a> and is licensed under MIT License
        <br><br>
        Blog Theme:<br>
        Development, programming and other tech related articles. 
        <br><br>
        Technical and Development specifications:
        <br><br>
        <ul>
        <li> Ruby version: 2.7.0 </li>
        
        <li> Rails version: 6.0.3.2</li>
        
        <li> DB dependencies: 
          <ul>
          <li>  Dev setting: Sqlite3</li>
          <li> Prod setting: PostgreSQL</li>
        </ul>
      </li>
        <li> Configuration: Gemfile</li>
        
        <li> How to run the test suite:  Minitest testing suite. To run the tests: rails test</li>
        
        <li> Services: Search Module in app/services</li>
        
        <li> Deployment instructions: in a local network: rails server -b 0.0.0.0 -p <PORT> </li>

      </ul>
    </div>
  </div>

</div>
