
  <div class="container" id="home-container">
    <div class="jumbotron text-center "id="jumbotron-home" >
      <h1 class="display-4">Dev Blog</h1>
      <p class="lead">
        Articles on Computer Programing, Coding Problems, Libraries, Frameworks
        and Development in General.
      </p>
      <hr class="my-4" />
      <p>
        Create your own articles or keep yourself up to date with the hottest
        articles.
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign up now!</a>
    </div>
  </div>


