@import "bootstrap/dist/css/bootstrap";

@media all {
  .navbar {
    background-color: #000000 !important;
  }

  .img-circular {
    width: 200px;
    align: center;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }


  .card-img {
    width: 4vw;
    height: 5vw;
  }

  #return-to-listings {
    text-align: right;
    padding-right: 8em;
  }

  #card_title {
    font-family: "Special Elite", cursive;
  }

  .nav-link {
    color: #d5d5d5 !important;
  }

  #logo {
    color: #d5d5d5 !important;
    font-family: "Passion One", cursive;
    /*font-family: Helvetica, sans-serif;*/
    font-size: 2em;
    letter-spacing: 0.5px;
  }

  #home-container {
    margin-top: 25px;
  }

  #jumbotron-home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      asset-url("circuitwallpaper.jpg");

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .container {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0; /*idem*/
    margin-right: auto;
    margin-left: auto;
  }
  .display-4 {
    font-family: "Passion One", cursive;
    font-size: 6em;
    -webkit-text-stroke: 2px black;
  }

  html,
  body {
    height: 100%;
  }

  #page-content {
    flex: 1 0 auto;
    /*background-color: lightgray;*/
    background: linear-gradient(to right, grey, white);
  }

  #sticky-footer {
    flex-shrink: none;
  }

  #card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Other Classes for Page Styling */
}

@media all and (max-width: 1000px) {
  /* screen size until 1000px - mobiles */

  .navbar {
    min-height: 100px;
  }

  #return-to-listings {
    padding-right: 4em;
  }

  .jumbotron {
    width: 100%;
  }

  #logo {
    font-family: "Passion One", cursive;
    font-size: 4em;
  }

  .display-4 {
    font-size: 2em;
  }

  .jumbotron,
  .lead {
    font-size: 1.2em;
  }

  .navbar-brand {
    font-size: 2.5em;
  }
  .nav-link {
    font-size: 1.8em;
  }
  .dropdown-item {
    font-size: 2.8em;
  }
  body {
    font-size: 1.5em; /* 1.2x default size */
  }
}
